#header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.customerInfoCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 250px;
    width: 500px;
    border-radius: 12px;
}

.chartCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 12px;
}

.customerTableCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 12px;
    width: 500px;
    margin-bottom: 4rem;
    padding: 16px 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
  }