.cardAlign{
    display: flex;
    justify-content: center;
}

.loginCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 220px;
    width: 280px;
    margin-top: 8rem;
    border-radius: 12px;
}